/**
 *  if
 */
@mixin avatar($size, $circle: false) {
  width: $size;
  height: $size;

  @if $circle {
    border-radius: $size / 2;
  }
}

.square-av {
  @include avatar(100px, false);
}

.circle-av {
  @include avatar(100px, true);
}

/**
 *  if / else
 */
$light-background: #f2ece4;
$light-text: #036;
$dark-background: #6b717f;
$dark-text: #d2e1dd;

@mixin theme-colors($light-theme: true) {
  @if $light-theme {
    background-color: $light-background;
    color: $light-text;
  } @else {
    background-color: $dark-background;
    color: $dark-text;
  }
}

.banner {
  @include theme-colors(true);
  body.dark & {
    @include theme-colors(false);
  }
}

/**
 * each - (key, value) in map
 */
$icons-size-map: (
        'small': 20px,
        'medium': 30px,
        'large': 40px,
);

@each $sizeName, $sizeInPixel in $icons-size-map {
  .icon-#{$sizeName} {
    font-size: $sizeInPixel;
  }
}

/**
 * for $i from number to number
 */
$base-red: #ff0000;

.color-red {
  background-color: $base-red;

  @for $i from 1 through 3 {
    &-lighten-#{$i} {
      background-color: lighten($base-red, $i * 10%);
    }
  }
}
