// included from global variables
$brand-red: #ff0000;
$brand-blue: #00003c;

$sr-select-menu-max-height: 250px;
$sr-select-menu-background-color: #ffffff;

$sr-select-search-input-height: 54px;

$sr-select-item-border-radius: 5px;
$sr-select-item-margin-directives: 0;
$sr-select-item-min-height: 36px;
$sr-select-item-hover-opacity: .12;